
<div class="wrapper">
  <div class="whole-container">
  <div class="title-for-port">Your portfolio</h1>
  </div>
  <div class="grid">
    <div class="item-table">
      <table>
        <tr class="first-row-bordered-corners">
          <th class="first-row">
            <h4>Currency Name</h4>
          </th>
          <th class="first-row">
            <h4>Owned quantity</h4>
          </th>
          <th class="first-row">
            <h4>Market Price</h4>
          </th class="first-row">
          <th class="first-row">
            <h4>Total Value</h4>
          </th>
        </tr>
        <% sum = 0 %>
        <% @portfolio.ownedcurrencies.each do |currency| %>
          <tr class="this-table">
            <div class="table-columns">
            <td class= "currency-name">
              <%= currency.cryptocurrency.name %>
            </td>
            <td class ="cajas-restantes", id="cajas-de-zero-padding"><%= (currency.quantity).round %></td>
            <% if currency.cryptocurrency.market_price == nil %>
              <td class ="cajas-restantes">$ 0 </td>
              <td class ="cajas-restantes">$ 0 </td>
              <td >
              <%  else  %>
                <td class ="cajas-restantes">$ <%= (currency.cryptocurrency.market_price).round(2) %></td>
                <td class ="cajas-restantes">$ <%= (currency.cryptocurrency.total_owned_value(currency).round(2)) %>
                </td>
              </div>

                <td  class = "trash-bin">
                  <%= link_to  ownedcurrency_path(currency), :class => "", method: :delete, data: { confirm: "Are you sure?" } do %>
                    <div class="trash">  <i class="fas fa-trash"></i></div>
                  <% end %>
                </td>
                <% (sum +=(currency.cryptocurrency.market_price * currency.quantity)).round(2) %>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <th class= "currency-name"> Total  </th>
            <th class="cajas-restantes">  </th>
            <th class="cajas-restantes"></th>
            <th class="total-sum">$ <%= sum %>   </th>
          </tr>
        </table>
      </div>
      <div class= "piepie"><%= pie_chart(@piedata) %></div>
      <div class="item-form">
        <div class="form-container">
          <%= simple_form_for [@portfolio, @ownedcurrency] do |f| %>
            <h2> Add more coins</h2>
            <div class="element">
              <%= f.association :cryptocurrency, required: true, label: "Currency" %>
            </div>
            <div class="element">
              <%= f.input :quantity, required: true, label: "Quantity" %>
            </div>
            <div class="element">
              <div class= ""><%= f.submit "Add coin", :class => "btn btn-primary"%></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
