=<div class="wrapper">
  <div class="title">
    <h1 class="text-center">Your portfolio</h1>
  </div>
  <div class="grid">
    <div class="item-table">
      <table>
        <tr>
          <th>
            <h4>Currency Name</h4>
          </th>
          <th>
            <h4>Owned quantity</h4>
          </th>
          <th>
            <h4>Market Price</h4>
          </th>
          <th>
            <h4>Total Value</h4>
          </th>
        </tr>
        <% sum = 0 %>
        <% @ownedcurrencies.each do |currency| %>
          <tr>
            <td>
              <%= currency.cryptocurrency.name %>
            </td>
            <td><%= (currency.quantity).round %></td>
            <td>$ <%= (currency.cryptocurrency.market_price).round(2) %></td>
            <td>$ <%= (currency.cryptocurrency.total_owned_value(currency)) %></td>
            <td>
              <%= link_to  ownedcurrency_path(currency), :class => "", method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </td>
            <% (sum +=(currency.cryptocurrency.market_price * currency.quantity)).round(2) %>
          </tr>

        <% end %>
        <tr>
          <th>  </th>
          <th>  </th>
          <th></th>
          <th>$ <%= sum %>   </th>
        </tr>
      </table>
    </div>

     <div><%= pie_chart(@piedata) %></div>

    <div class="item-form">
      <div class="form-container">
        <%= simple_form_for [@portfolio, @ownedcurrency] do |f| %>
          <div class="element">
            <%= f.input :quantity, required: true, label: "Quantity" %>
          </div>
          <div class="element">
            <%= f.association :cryptocurrency, required: true, label: "Currency" %>
          </div>
          <div class="element">
            <%= f.submit "Add coin", class: "btn btn-danger"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
