<h1 class="text-center"><%= @user.email %></h1>

<div id="followButton">
  <%= render 'users/follow_button' %>
</div>


<div class="user-show-container">
  <div class="user-show-container-profile-container">
    <h1>hello</h1>
  </div>

  <div class="user-show-container-posts-container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#top-posts">Top Posts</a></li>
      <li><a data-toggle="tab" href="#following">Following</a></li>
      <li><a data-toggle="tab" href="#followers">Followers</a></li>
    </ul>
    <div class="tab-content">
      <div id="top-posts" class="tab-pane fade in active">
        <%= render 'users/top_posts' %>
      </div>
      <div id="following" class="tab-pane fade">
        <%= render 'users/following' %>
      </div>
      <div id="followers" class="tab-pane fade">
        <%= render 'users/followers' %>
      </div>

    </div>

  </div>
</div>

<%= link_to "See recent posts", posts_user_path(current_user.id) %>
