<div class="dashboard-container">
  <div class="news-container">
    <div class="news-inner-container">
      <%= render 'layouts/news' %>
    </div>
  </div>
  <div class="prices-container">
    <div class="prices-inner-container">
      <div class="top-half">
        <div class="static-fields">
          <h2>Bitcoin: <span id="bitcoin-price"></span></h2>
          <h2>Global MarketCap: <span id="marketcap"></span></h2>
          <h2>Last Updated:     <span id="last-updated"></span></h2>
        </div>
        <div class="static-fields">
          <h2>Bitcoin Dominance:<span id="bitcoin-dominance"></span></h2>
          <h2>Cryptocurrencies: <span id="cryptocurrency-number"></span></h2>
          <h2>24 Hour Volume:    <span id="daily-volume"></span></h2>
        </div>
        <% if current_user %>
          <%= simple_form_for :favorite, url: favorites_user_path(current_user) do |f| %>
            <%= f.input :crypto, collection: @cryptocurrencies %>
            <div class="favorite-btn">
              <%= f.submit "Add Card" %>
            </div>
          <% end %>
        <% end %>
        <div class="card-prices">
          <% if current_user %>
            <% current_user.favorited_by_type('Cryptocurrency').each do |cryptocurrency| %>
              <div class="coinmarketcap-currency-widget widget-card" data-currency="<%=cryptocurrency.website_slug%>" data-base="USD" data-statsticker="false">
                <div class="remove-button">
                  <%= link_to favorites_user_path(current_user, cryptocurrency_id: cryptocurrency), method: :delete do %>
                    <i class="far fa-times-circle"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="bottom-half">
        <!-- Number, Name, MarketCap, Price, Volume, Supply, Change, Graph -->
        <div class="row-form">
          <%= render 'subscriptions/form', subscription: @subscription %>
          <%= render 'subscriptions/table' %>
        </div>
      </div>
    </div>
  </div>
  <div class="posts-container">
    <div class="posts-inner-container">
      <% unless !current_user %>
        <h4 style="text-align: center; padding: 15px 0; margin:0"><strong> Posts</strong></h4>
        <div id="new_post">
          <%= render 'posts/form', post: @post %>
        </div>
      <% end %>
      <h4>Recent Posts</h4>
      <div id="posts">
        <%= render 'posts/index', posts: @posts %>
      </div>
      <%= link_to "View all posts", posts_path, class: 'view-all-posts' %>
    </div>
  </div>
</div>