<div class="dashboard-container">
  <div class="news-container">
    <div class="news-inner-container">
      <%= render 'layouts/news' %>
    </div>
  </div>
  <!--   <div class="all-news-container" style="display: none;" >
    <div class="prices-inner-container">
      <div id="news-main-box">
      </div>
    </div>
  </div> -->
  <div class="prices-container">
    <%= render 'pages/prices' %>
  </div>
  <div class="post-partial-container">
  </div>
  <div class="posts-container">
    <div class="posts-inner-container">
      <div class="all-posts">
        <% unless !current_user %>
          <h2 style="text-align: center; color: #66757f; padding: 15px 0; margin:0"><strong> Posts</strong></h2>
          <div id="new_post">
            <%= render 'posts/form', post: @post %>
          </div>
        <% end %>
        <ul class="nav nav-tabs ">
          <li class="active"><a data-toggle="tab" href="#posts">Recent</a></li>
          <li><a data-toggle="tab" href="#hot-posts">Popular</a></li>
          <li><a data-toggle="tab" href="#following-posts">Following</a></li>
        </ul>
        <div class="tab-content">
          <div id="posts" class="tab-pane fade in active">
            <%= render 'posts/index', posts: @posts %>
          </div>
          <div id="hot-posts" class="tab-pane fade">
            <%= render 'posts/hot_index' %>
          </div>
          <div id="following-posts" class="tab-pane fade">
            <%= render 'posts/following_index' %>
          </div>
          <%= link_to "View all posts", posts_path, class: 'view-all-posts' %>
        </div>
      </div>
    </div>
  </div>
</div>