<div class="dashboard-container">
  <div class="news-container">
    <div class="news-inner-container">
      <%= render 'layouts/news' %>
    </div>
  </div>
  <div class="all-news-container"  style="display: none">
    <div class="prices-inner-container">
      <div id="news-main-box">
      </div>
    </div>
  </div>
  <div class="prices-container">
    <div class="prices-inner-container">
      <div class="all-price-boxes">
        <div class="static-box">
          <div class="static-fields">
            <div class="top-row">
              <div class="bitcoin-container">
                <h2><img class="bitcoin-logo" src="https://en.bitcoin.it/w/images/en/2/29/BC_Logo_.png">
                  <p style="color: #5186DF"><span id="bitcoin-price"></span></p>
                </h2>
              </div>
              <div class="global-container">
                <h2><img class="globe-logo" src="https://png.icons8.com/metro/1600/globe.png">
                  <p style="color: #5186DF"><span id="marketcap"></span></p>
                </h2>
              </div>
            </div>
          </div>
          <div class="static-fields">
            <h2><strong>BTC Dominance: </strong>
              <p style="color: #5186DF"><strong><span id="bitcoin-dominance"></span></strong> </p>
            </h2>
            <h2><strong>Cryptocurrencies: </strong>
              <p style="color: #5186DF"><strong><span id="cryptocurrency-number"></span></strong> </p>
            </h2>
            <h2><strong>24h Volume: </strong>
              <p style="color: #5186DF"><strong><span id="daily-volume"></span></strong> </p>
            </h2>
          </div>
        </div>
        <div class="cards-box">
          <% if current_user %>
            <%= simple_form_for :favorite, url: favorites_user_path(current_user) do |f| %>
             <div class ="col-sm-4 col-sm-offset-2" style="margin-left: 0" > <%= f.input :crypto , collection: Cryptocurrency.all.order(:name), label: false, input_html: { class: 'select2' }%></div>
                     <div class="favorite-btn">
                <%= f.submit "Follow a coin", :class => "btn btn-primary" %>
              </div>
            <% end %>
          <% end %>
          <div class="card-prices">
            <% if current_user %>
              <% current_user.favorited_by_type('Cryptocurrency').each do |cryptocurrency| %>
                <div class="crypto-card-container">
                  <div class="coinmarketcap-currency-widget widget-card" data-currency="<%=cryptocurrency.website_slug%>" data-base="USD" data-statsticker="false">
                  </div>
                  <div class="remove-button">
                    <%= link_to favorites_user_path(current_user, cryptocurrency_id: cryptocurrency), method: :delete do %>
                      <i class="far fa-times-circle" ></i>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- Number, Name, MarketCap, Price, Volume, Supply, Change, Graph -->
        <div class="list-box">
          <div class="row-form">
          <div class = "search-and-submit-boxes"> <%= render 'subscriptions/form', subscription: @subscription %> </div>
           <div class="ftable"> <%= render 'subscriptions/table' %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="posts-container">
    <div class="posts-inner-container">
      <div class="all-posts">
        <% unless !current_user %>
          <h4 style="text-align: center; padding: 15px 0; margin:0"><strong> Posts</strong></h4>
          <div id="new_post">
            <%= render 'posts/form', post: @post %>
          </div>
        <% end %>
        <h4 style="padding-left: 10px">Recent Posts</h4>
        <div id="posts">
          <%= render 'posts/index', posts: @posts %>
        </div>
        <%= link_to "View all posts", posts_path, class: 'view-all-posts' %>
      </div>
    </div>
  </div>
</div>
