<div class="dashboard-container">
  <div class="news-container">
    <div class="news-inner-container">
      <%= render 'layouts/news' %>
    </div>
  </div>
  <div class="prices-container">
    <div class="prices-inner-container">
      <div class="top-half">
        <div class="static-fields">
          <h2>Bitcoin: <span id="bitcoin-price"></span></h2>
          <h2>Global MarketCap: <span id="marketcap"></span></h2>
          <h2>Last Updated:     <span id="last-updated"></span></h2>
        </div>
        <div class="static-fields">
          <h2>Bitcoin Dominance:<span id="bitcoin-dominance"></span></h2>
          <h2>Cryptocurrencies: <span id="cryptocurrency-number"></span></h2>
          <h2>24 Hour Volume:    <span id="daily-volume"></span></h2>
        </div>
        <div class="prices">
        </div>
        <div class="card-prices">

          <%if current_user%>
            <%= simple_form_for :favorite, url: favorites_user_path(current_user) do |f| %>
              <%= f.input :crypto, collection: @cryptocurrencies %>
              <%= f.submit "add to favorites" %>
            <% end %>
          <% end %>
          
          <div class="row">

            <% if current_user %>
            <% current_user.favorited_by_type('Cryptocurrency').each do |cryptocurrency| %>
              <div class="col-sm-4">
                <%= link_to favorites_user_path(current_user, cryptocurrency_id: cryptocurrency), method: :delete do %>
                  <i class="far fa-times-circle"></i>
                <% end %>
                <div class="coinmarketcap-currency-widget" data-currency="<%=cryptocurrency.website_slug%>" data-base="USD" ></div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="bottom-half">
        <!-- Number, Name, MarketCap, Price, Volume, Supply, Change, Graph -->
        <div class="tradingview-widget">
          <!-- TradingView Widget BEGIN -->
          <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener" target="_blank"><span class="blue-text">Cryptocurrency Markets</span></a> by TradingView</div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
              {
              "width": 1000,
              "height": 490,
              "defaultColumn": "overview",
              "screener_type": "crypto_mkt",
              "displayCurrency": "USD",
              "locale": "en"
                        }
            </script>
          </div>
          <!-- TradingView Widget END -->
        </div>
        <div class="row-prices">
          <table>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Market Cap</th>
              <th>Price</th>
              <th>Volume</th>
              <th>Circulating Supply</th>
              <th>Change (24h)</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Bitcoin</td>
              <td>$200,000,000</td>
              <td>$6,700</td>
              <td>$4,200,000</td>
              <td>17,223,912 BTC</td>
              <td>4.6%</td>
            </tr>
          </table>
        </div>
        <div class="row-prices">
          <table>
            <tr>
              <td>1</td>
              <td>Bitcoin</td>
              <td>$200,000,000</td>
              <td>$6,700</td>
              <td>$4,200,000</td>
              <td>17,223,912 BTC</td>
              <td>4.6%</td>
            </tr>
          </table>
        </div>
        <div class="row-prices">
          <table>
            <tr>
              <td>1</td>
              <td>Bitcoin</td>
              <td>$200,000,000</td>
              <td>$6,700</td>
              <td>$4,200,000</td>
              <td>17,223,912 BTC</td>
              <td>4.6%</td>
            </tr>
          </table>
        </div>
        <div class="row-prices">
          <table>
            <tr>
              <td>1</td>
              <td>Bitcoin</td>
              <td>$200,000,000</td>
              <td>$6,700</td>
              <td>$4,200,000</td>
              <td>17,223,912 BTC</td>
              <td>4.6%</td>
            </tr>
          </table>
        </div>
        <div class="row-prices">
          <table>
            <tr>
              <td>1</td>
              <td>Bitcoin</td>
              <td>$200,000,000</td>
              <td>$6,700</td>
              <td>$4,200,000</td>
              <td>17,223,912 BTC</td>
              <td>4.6%</td>
            </tr>
          </table>
        </div>
        <div class="row-prices">
          <table>
            <tr>
              <td>1</td>
              <td>Bitcoin</td>
              <td>$200,000,000</td>
              <td>$6,700</td>
              <td>$4,200,000</td>
              <td>17,223,912 BTC</td>
              <td>4.6%</td>
            </tr>
          </table>
        </div>
        <div class="row-prices">
          <table>
            <tr>
              <td>1</td>
              <td>Bitcoin</td>
              <td>$200,000,000</td>
              <td>$6,700</td>
              <td>$4,200,000</td>
              <td>17,223,912 BTC</td>
              <td>4.6%</td>
            </tr>
          </table>
        </div>
        <div class="row-prices">
          <table>
            <tr>
              <td>1</td>
              <td>Bitcoin</td>
              <td>$200,000,000</td>
              <td>$6,700</td>
              <td>$4,200,000</td>
              <td>17,223,912 BTC</td>
              <td>4.6%</td>
            </tr>
          </table>
        </div>
        <div class="row-prices">
          <table>
            <tr>
              <td>1</td>
              <td>Bitcoin</td>
              <td>$200,000,000</td>
              <td>$6,700</td>
              <td>$4,200,000</td>
              <td>17,223,912 BTC</td>
              <td>4.6%</td>
            </tr>
          </table>
        </div>
        <div class="row-prices">
          <table>
            <tr>
              <td>1</td>
              <td>Bitcoin</td>
              <td>$200,000,000</td>
              <td>$6,700</td>
              <td>$4,200,000</td>
              <td>17,223,912 BTC</td>
              <td>4.6%</td>
            </tr>
          </table>
        </div>
        <div class="row-prices">
          <table>
            <tr>
              <td>1</td>
              <td>Bitcoin</td>
              <td>$200,000,000</td>
              <td>$6,700</td>
              <td>$4,200,000</td>
              <td>17,223,912 BTC</td>
              <td>4.6%</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="posts-container">
    <div class="posts-inner-container">
      <% unless !current_user %>
        <h4>Add a Post</h4>
        <div id="new_post">
          <%= render 'posts/form', post: @post %>
        </div>
      <% end %>
      <h4>Recent Posts</h4>
      <div id="posts">
        <%= render 'posts/index', posts: @posts %>
      </div>
      <%= link_to "View all posts", posts_path, class: 'view-all-posts' %>
    </div>
  </div>
</div>