<div class="home-post-show">
  <div class="vote-card">
    <% if policy(post).upvote? %>
      <%= link_to upvote_post_path(post), method: :put do %>
        <span class="glyphicon glyphicon-chevron-up upvote-icon"></span>
      <% end %>
    <% end %>
      <div class="vote-weighted"><%= post.weighted_score %></div>
    <% if policy(post).downvote? %>
      <%= link_to downvote_post_path(post), method: :put do %>
        <span class="glyphicon glyphicon-chevron-down downvote-icon"></span>
      <% end %>
    <% end %>
  </div>

  <div class="home-post-card">
    <div class="card-meta"><time><%= post.created_at.strftime("%b %e, %Y - %l:%M %p") %></time></div>
    <article class="card-content"><p><%= post.content %></p></article>
    <div class="card-user"> By <span class="card-username"><%= post.user.email %></span> <%= link_to "View Comments", post_path(post), class: 'view-comments-link' %></div>
    <button onclick="triggerComment(this)" class="comment-button">Comment</button>

    <div class="home_post_comment"><%= render 'comments/form', post: post, comment: @comment %></div>

  </div>
</div>
