<% if current_user %>
  <%= link_to upvote_post_path(post), method: :put do %>
    <span class="glyphicon glyphicon-chevron-up upvote-icon"></span>
  <% end %>
<% else %>
  <%= link_to new_user_session_path, method: :get do %>
    <span class="glyphicon glyphicon-chevron-up upvote-icon"></span>
  <% end %>
<% end %>
  <div class="vote-weighted"><%= post.weighted_score %></div>
<% if current_user %>
  <%= link_to downvote_post_path(post), method: :put do %>
    <span class="glyphicon glyphicon-chevron-down downvote-icon"></span>
  <% end %>
<% else %>
  <%= link_to new_user_session_path, method: :get do %>
    <span class="glyphicon glyphicon-chevron-down downvote-icon"></span>
  <% end %>
<% end %>
