<h2><%= @post.content %> - <%= @post.created_at %> <%= @post.user.email %></h2>

<h2>Add a comment:</h2>
<div id="new_comment"><%= render 'comments/form', post: @post, comment: @comment %></div>

<h2>Comments</h2>
<div id="comments"><%= render 'comments/show', post: @post %></div>

<%= link_to "Delete Post", post_path,
          method: :delete,
          data: { confirm: "Delete Post?" }, class: 'btn btn-danger' %>
<%= link_to 'Back to Posts', posts_path %> |
