<div class="news-header" style="background-color: #AC2C25; color: white">
  <h4 style="text-align: center; padding: 15px 0; margin:0"><strong> Crypto-News</strong></h4>
</div>
<% @articles.first(10).each do |article|  %>
  <div class="card" style="width: 350px; padding: 20px; border: solid lightgray 1 1 1;">
    <% unless article.image_url == nil %>
      <img class="card-img-top" src=<%= article.image_url %> alt="Card image cap" style=" width: 310px; ">
    <% end %>
    <div class="card-body" style="text-align: justify;">
      <h5 class="card-title"><strong><%= article.title %></strong> </h5>
      <p class="card-text" style="font-size: 16px;"><%= article.description %></p>
      <p class="card-text" style=" font-size: 16px; overflow-wrap: break-word;"><i><%= link_to "Link (#{article.source})", "#{article.news_url}", target: :_blank %></i> </p>
      <p class="card-text"><small class="text-muted">Published on <%= article.publishedAt.strftime("%b %e, %Y - %l:%M %p") %></small></p>
    </div>
  </div>
<% end %>
<!-- t.string "author"
t.string "title"
t.string "description"
t.integer "likes"
t.string "news_url"
t.datetime "publishedAt"
t.datetime "created_at", null: false
t.datetime "updated_at", null: false
t.string "image_url" -->