<div class="all-news-box">
  <div class="news-header">
    <h2 style="text-align: center; padding: 15px 0; margin: 0;"><img class="reddit-logo" src="https://upload.wikimedia.org/wikipedia/en/7/70/AlienBlue_Icon.png">           <strong>News</strong> </h2>
    <h5 style="text-align: center; padding-bottom: 30px; "></h5>
  </div>
  <% @articles.each do |article|  %>
    <div class="card" style=" padding: 20px; border-bottom: solid #F3F3F3; display: flex; flex-direction: column; align-items: center; ">
      <% unless article.image_url == nil || article.image_url == "self" %>
        <img class="card-img-left" src=<%= article.image_url %> alt="Card image cap" style=" width: 150px; ">
      <% end %>
      <div class="card-body" style="text-align: justify;">
        <p class="card-title" style="font-size: 17px; padding-top: 10px; " ><%= article.title %> </p>
        <p class="card-text" style="font-size: 12px;"><%= article.description %></p>
        <p class="card-text" style="font-size: 12px; padding-top:10px; padding: padding-bottom: 0"><small class="text-muted">Published on <%= article.publishedAt.strftime("%b %e, %Y - %l:%M %p") %></small></p>
      </div>
      <%= link_to "See reddit", article.news_url, target: :_blank, :class => "news-link" %>

      <button type="button" class="btn btn-dark show-news" id="show-news" data-url= "<%= article.source %>">Expand news</button>
    </div>
  <% end %>
</div>