<div class="news-header">
  <h4 style="text-align: center; padding: 15px 0; margin:0"><strong> Crypto-News</strong></h4>
</div>
<% @articles.each do |article|  %>
  <%= link_to "#{article.source}", target: :_blank, :class => "news-link" do %>
    <div class="card" style="width: 330px; padding: 20px; border: solid lightgray 1 1 1; margin-right:0;">
      <% unless article.image_url == nil || article.image_url == "self" %>
        <img class="card-img-left" src=<%= article.image_url %> alt="Card image cap" style=" width: 200px; margin-left: calc(100vh / 25); ">
      <% end %>
      <div class="card-body" style="text-align: justify;">
        <h5 class="card-title"><strong><%= article.title %></strong> </h5>
        <p class="card-text" style="font-size: 16px;"><%= article.description %></p>
        <p class="card-text"><small class="text-muted">Published on <%= article.publishedAt.strftime("%b %e, %Y - %l:%M %p") %></small></p>
      </div>
    </div>
  <% end %>
<% end %>