<div class="all-news-box">
  <div class="news-header">
    <h4 style="text-align: center; padding: 15px 0; margin:0"><img src="https://www.redditstatic.com/new-icon.png"><strong> r/Cryptocurrency</strong></h4>
  </div>
  <% @articles.each do |article|  %>
    <%= link_to "#{article.source}", target: :_blank, :class => "news-link" do %>
      <div class="card" style=" padding: 20px; border-bottom: solid #F3F3F3 ">
        <% unless article.image_url == nil || article.image_url == "self" %>
          <img class="card-img-left" src=<%= article.image_url %> alt="Card image cap" style=" width: 150px; margin-left: calc(100vh / 12); ">
        <% end %>
        <div class="card-body" style="text-align: justify;">
          <p class="card-title" style="font-size: 13px; padding-top: 10px; " ><%= article.title %> </p>
          <p class="card-text" style="font-size: 12px;"><%= article.description %></p>
          <p class="card-text" style="font-size: 12px; padding-top:10px; padding: padding-bottom: 0"><small class="text-muted">Published on <%= article.publishedAt.strftime("%b %e, %Y - %l:%M %p") %></small></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
